transformers==4.51.1
auto_gptq==0.7.1
bitsandbytes==0.45.5
sentence-transformers==4.1.0
vllm==0.8.3
langgraph==0.3.31
langchain==0.3.24
langchain-core==0.3.56
langsmith==0.3.37
langgraph-sdk==0.1.61
qdrant-client==1.14.2
fastapi==0.115.12
uvicorn==0.34.0
pydantic==2.11.3
python-multipart==0.0.20
requests==2.32.3
numpy==1.26.4
scipy==1.15.2
aiohttp==3.11.16
tqdm==4.67.1
discord==2.3.2
PyMySQL==1.1.1